.toolbar {
  padding: 8px 0;
}
.toolbar-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  .toolbar-item {
    display: inline-block;
    margin: 0 8px 0 0;
    button {
      height: 32px;
      padding: 0 8px;
      background: transparent;
      color: #999;
      border-color: transparent;
      i {
        vertical-align: middle;
        margin-right: 4px;
      }
      &:hover {
        background: #fff;
        color: #232323;
        cursor: move;
      }
    }
  }
}
